<!-- <h2>Parent Component</h2>
<p>Parent Count : {{ parentCount }}</p>
<input type="number" [(ngModel)]="parentCount" />
<hr />
<app-counter [count]="parentCount" (countChange)="parentCount = $event"></app-counter> -->

<!-- <app-calculator></app-calculator> -->

<app-autocomplete
  [label]="'Users'"
  [placeholder]="'Start typing...'"
  [autoCompleteControl]="autoCompleteDataSetCtrl"
  [options]="names"
  [filterProperty]="'value'"
  (selectedOptionChanged)="onOptionChanged($event)"
  (searchKeyChanged)="onSearchValueChanged($event)"
></app-autocomplete>